<div class="experience-container">
    <h2 id="experience-title" class="experience-title-light">Technical Experience</h2>
    
    <div class="experience-row">
        <div id="job-box1" class="job-light">
            <div class="job-info">
                <img class="job-img" src="../assets/img/experience/sfu-os-dev-logo.png">
                <div class="job-titles">
                    <h1 id="j-title1" class="job-title-light">Director of Technology</h1>
                    <h2 id="j-employer1" class="job-employer-light">SFU Open Source Development Club</h2>
                    <h2 id="j-time1" class="job-time-light">October 2024 - Present</h2>
                </div>
            </div>

            <div id="j-content1" class="job-content-light">
                <p class="resume-item">
                    • Currently <strong>recruiting and training coordinators</strong> using a structured onboarding process to ensure team readiness and effective role assignment
                </p>
                <p class="resume-item">
                    • <strong>Conducting assessments of the technology infrastructure</strong> and planning upgrades based on feedback and cost analysis to <strong>enhance operational efficiency</strong>
                </p>
                <p class="resume-item">
                    • Providing <strong>ongoing technical support</strong> to project leads, <strong>facilitating successful project execution</strong> through guidance on technology usage and best practices
                </p>
            </div>
        </div>
    </div>

    <div class="experience-row margin-top">
        <div id="job-box2" class="job-light">
            <div class="job-info">
                <div id="j-img2-container" class="job-img2-container-light">
                    <div class="job-img2-box">
                        <img class="job-img2" src="../assets/img/experience/db-logo.png">
                    </div>
                </div>     
                <div class="job-titles">
                    <h1 id="j-title2" class="job-title-light">Web Developer</h1>
                    <h2 id="j-employer2" class="job-employer-light">Downhole Battery Inc.</h2>
                    <h2 id="j-time2" class="job-time-light">October 2024 - Present</h2>
                </div>
            </div>

            <div id="j-content2" class="job-content-light">
                <p class="resume-item">
                    • <strong>Collaborating with a team</strong> to develop a static website showcasing company information, a contact form, and a map feature
                </p>
                <p class="resume-item">
                    • Designing and implementing <strong>user-friendly</strong> interfaces using <strong>HTML, CSS, JavaScript</strong>, and <strong>Figma</strong>
                </p>
                <p class="resume-item">
                    • Utilizing <strong>best practices</strong> to ensure <strong>responsive</strong> and optimized performance across various devices
                </p>
            </div>
        </div>
    </div>

</div>
