.education-container {
    display: flex;
    flex-direction: column;
}

.education-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.img-container {
    width: 100%;
    height: 50%;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.title-date {
    display: flex;
    flex-direction: row;
    width: 99%;
    height: 4rem;
}

.description {
    width: 96.5%;
    height: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Light Mode */

.school-light {
    display: flex;
    flex-direction: column;
    width: 76rem;
    height: 26rem;
    background-color: #F3F3F3;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.school-light:hover {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);
}

.education-title-light {
    font-size: 2.5rem;
    font-weight: 400;
    padding-left: 8vw;
    padding-right: 8vw;
}

.school-title-light {
    font-weight: 700;
    font-size: 1.5rem;
    width: 50%;
}

.date-light {
    font-weight: 400;
    font-size: 1.5rem;
    width: 50%;
    text-align: end;
}

.location-light {
    margin-top: -0.4rem;
    font-style: italic;
    font-size: 1.1rem;
}

.degree-light {
    margin-top: 1.1rem;
    font-size: 1.1rem;
}

/* Dark Mode */

.school-dark {
    display: flex;
    flex-direction: column;
    width: 76rem;
    height: 26rem;
    background-color: #222222;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.school-dark:hover {
    /*box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);*/
    transform: translateY(-10px);
}

.education-title-dark {
    font-size: 2.5rem;
    font-weight: 400;
    padding-left: 8vw;
    padding-right: 8vw;
    color: white;
}

.school-title-dark {
    font-weight: 700;
    font-size: 1.5rem;
    width: 50%;
    color: white;
}

.date-dark {
    font-weight: 400;
    font-size: 1.5rem;
    width: 50%;
    text-align: end;
    color: white;
}

.location-dark {
    margin-top: -0.4rem;
    font-style: italic;
    font-size: 1.1rem;
    color: white;
}

.degree-dark {
    margin-top: 1.1rem;
    font-size: 1.1rem;
    color: white;
}

@media only screen and (max-width: 1550px) {
    
    .school-light {
        width: 64rem;
        height: 22rem;
    }
    .school-dark {
        width: 64rem;
        height: 22rem;
    }

    .education-title-light {
        font-size: 2rem;
    }
    .education-title-dark {
        font-size: 2rem;
    }

    .school-title-light {
        font-size: 1.3rem;
    }
    .school-title-dark {
        font-size: 1.3rem;
    }

    .date-light {
        font-size: 1.3rem;
    }
    .date-dark {
        font-size: 1.3rem;
    }

    .location-light {
        font-size: 1rem;
    }
    .location-dark {
        font-size: 1rem;
    }

    .degree-light {
        font-size: 1rem;
    }
    .degree-dark {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 700px) {
    
    .school-light {
        width: 64rem;
        height: 18rem;
    }
    .school-dark {
        width: 64rem;
        height: 18rem;
    }

    .education-title-light {
        font-size: 2rem;
    }
    .education-title-dark {
        font-size: 2rem;
    }

    .school-title-light {
        font-size: 1.1rem;
    }
    .school-title-dark {
        font-size: 1.1rem;
    }

    .date-light {
        font-size: 1.1rem;
    }
    .date-dark {
        font-size: 1.1rem;
    }

    .location-light {
        font-size: 0.9rem;
    }
    .location-dark {
        font-size: 0.9rem;
    }

    .degree-light {
        font-size: 0.9rem;
    }
    .degree-dark {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 500px) {

    .img-container {
        height: 30%;
    }
    .description {
        height: 70%;
    }
    
    .school-light {
        width: 64rem;
        height: 18rem;
    }
    .school-dark {
        width: 64rem;
        height: 18rem;
    }

    .education-title-light {
        font-size: 2rem;
    }
    .education-title-dark {
        font-size: 2rem;
    }

    .school-title-light {
        font-size: 1.1rem;
    }
    .school-title-dark {
        font-size: 1.1rem;
    }

    .date-light {
        font-size: 1.1rem;
        margin-right: 1rem
    }
    .date-dark {
        font-size: 1.1rem;
        margin-right: 1rem;
    }

    .location-light {
        font-size: 0.9rem;
        margin-top: 1rem;
    }
    .location-dark {
        font-size: 0.9rem;
    }

    .degree-light {
        font-size: 0.9rem;
    }
    .degree-dark {
        font-size: 0.9rem;
    }
}

@media only screen and (max-width: 311px) {

    .img-container {
        height: 30%;
    }
    .description {
        height: 70%;
    }
    
    .school-light {
        width: 64rem;
        height: 18rem;
    }
    .school-dark {
        width: 64rem;
        height: 18rem;
    }

    .education-title-light {
        font-size: 2rem;
    }
    .education-title-dark {
        font-size: 2rem;
    }

    .school-title-light {
        font-size: 1.1rem;
    }
    .school-title-dark {
        font-size: 1.1rem;
    }

    .date-light {
        font-size: 1.1rem;
        margin-right: 1rem
    }
    .date-dark {
        font-size: 1.1rem;
        margin-right: 1rem;
    }

    .location-light {
        font-size: 0.9rem;
        margin-top: 2rem;
    }
    .location-dark {
        font-size: 0.9rem;
    }

    .degree-light {
        font-size: 0.9rem;
    }
    .degree-dark {
        font-size: 0.9rem;
    }
}