<div class="education-container">
    <h2 class="education-title">Education</h2>
    <div class="education-row">
        <div class="school" id="trs-project">
            <div class="img-container">
                <img class="img" src="../assets/img/education/sfu2.png">
            </div>
            <div class="description">
                <div class="title-date">
                    <h1 class="project-title">Simon Fraser University</h1>
                    <h1 class="date">September 2021 - Present</h1> 
                </div>
                <p class="location">Burnaby, BC</p>
                <p class="desc">BSc in Computer Science</p>
            </div>
        </div>
    </div>
</div>
