.root {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

#header {
    margin-bottom: 2rem;
}

#info {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#projects {
    margin-bottom: 2rem;
}

#education {
    margin-bottom: 4rem;
}