.projects-container {
    display: flex;
    flex-direction: column;
}

.project-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.img-container {
    width: 100%;
    height: 50%;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.title-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 4rem;
}

.description {
    width: 90%;
    height: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
    /*background-color: aqua;*/
    padding-bottom: 1.5rem;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    width: 35%;
    height: 100%;
}

.link-img {
    height: 2rem;
    width: 2rem;
}

.github-link {
    display: flex;
    margin-left: 0.5rem;
}

.github-link-hover {
    margin-left: 0.5rem;
}

.github-link-hover {
    display: none;
}

.github:hover .github-link {
    display: none;
}

.github:hover .github-link-hover {
    display: flex;
}

.project-link {
    display: flex;
}

.project-link-hover {
    display: none;
}

.link:hover .project-link {
    display: none;
}

.link:hover .project-link-hover {
    display: flex;
}

.link {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.github {
    margin-bottom: 0.5rem;
    cursor: pointer;
}

#n-puzzle-solver-project {
    margin-right: 2rem; 
}

/* Light Mode */

.project-light {
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 40rem;
    background-color: #F3F3F3;
    margin-left: 2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
}

.project-light:hover {
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    transform: translateY(-10px);
}

.projects-title-light {
    font-size: 2.5rem;
    font-weight: 400;
    padding-left: 8vw;
    padding-right: 8vw;
}

.project-title-light {
    font-weight: 400;
    font-size: 1.5rem;
    width: 65%;
}

.project-desc-trs-light {
    font-size: 1.1rem;
}

.project-desc-light {
    font-size: 1.1rem;
}

.technologies-light {
    font-weight: 700;
    font-style: italic;
    font-size: 1.1rem;
}

.technologies-light-trs {
    font-weight: 700;
    font-style: italic;
    font-size: 1.1rem;
}

/* Dark Mode */

.project-dark {
    display: flex;
    flex-direction: column;
    width: 24rem;
    height: 40rem;
    background-color: #222222;
    margin-left: 2rem;
    border-radius: 20px;
    /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
    transition: transform 0.3s ease;
}

.project-dark:hover {
    /*box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);*/
    transform: translateY(-10px);
}

.projects-title-dark {
    font-size: 2.5rem;
    font-weight: 400;
    padding-left: 8vw;
    padding-right: 8vw;
    color: white;
}

.project-title-dark {
    font-weight: 400;
    font-size: 1.5rem;
    width: 65%;
    color: white;
}

.project-desc-trs-dark {
    font-size: 1.1rem;
    color: white;
}

.project-desc-dark {
    font-size: 1.1rem;
    color: white;
}

.technologies-dark {
    font-weight: 700;
    font-style: italic;
    font-size: 1.1rem;
    color: white;
}

.technologies-dark-trs {
    font-weight: 700;
    font-style: italic;
    font-size: 1.1rem;
    color: white;
}

@media only screen and (max-width: 1550px) {
    .project-light {
        width: 20rem;
        height: 33rem;
    }
    .project-dark {
        width: 20rem;
        height: 33rem;
    }

    .projects-title-light {
        font-size: 2rem;
    }
    .projects-title-dark {
        font-size: 2rem;
    }

    .project-title-light {
        font-size: 1.3rem;
    }
    .project-title-dark {
        font-size: 1.3rem;
    }

    .project-desc-trs-light {
        font-size: 1rem;
    }
    .project-desc-trs-dark {

        font-size: 1rem;
    }
    .project-desc-light {
        font-size: 1rem;
    }
    .project-desc-dark {
        font-size: 1rem;
    }

    .technologies-light-trs {
        font-size: 1rem;
    }
    .technologies-dark-trs {
        font-size: 1rem;
    }
    .technologies-light {
        font-size: 1rem;
    }
    .technologies-dark {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1100px) {
    .project-row {
        flex-direction: column;
    }

    .project-light {
        width: 20rem;
        height: 33rem;
        margin-bottom: 2rem;
        align-self: center;
    }
    .project-dark {
        width: 20rem;
        height: 33rem;
        margin-bottom: 2rem;
        align-self: center;
    }
    #trs-project {
        margin-right: 2rem;
    }
    #yelp-project {
        margin-right: 2rem;
    }
    #n-puzzle-solver-project {
        margin-bottom: 0rem;
        margin-right: 2rem;
    }

    .projects-title-light {
        font-size: 2rem;
    }
    .projects-title-dark {
        font-size: 2rem;
    }

    .project-title-light {
        font-size: 1.3rem;
    }
    .project-title-dark {
        font-size: 1.3rem;
    }

    .project-desc-trs-light {
        font-size: 1rem;
    }
    .project-desc-trs-dark {

        font-size: 1rem;
    }
    .project-desc-light {
        font-size: 1rem;
    }
    .project-desc-dark {
        font-size: 1rem;
    }

    .technologies-light-trs {
        font-size: 1rem;
    }
    .technologies-dark-trs {
        font-size: 1rem;
    }
    .technologies-light {
        font-size: 1rem;
    }
    .technologies-dark {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 430px) {
    .project-row {
        flex-direction: column;
    }

    .project-light {
        width: 16.9rem;
        height: 28rem;
        margin-bottom: 2rem;
        align-self: center;
    }
    .project-dark {
        width: 16.9rem;
        height: 28rem;
        margin-bottom: 2rem;
        align-self: center;
    }
    #trs-project {
        margin-right: 2rem;
    }
    #yelp-project {
        margin-right: 2rem;
    }
    #n-puzzle-solver-project {
        margin-bottom: 0rem;
        margin-right: 2rem;
    }

    .projects-title-light {
        font-size: 2rem;
    }
    .projects-title-dark {
        font-size: 2rem;
    }

    .project-title-light {
        font-size: 1.2rem;
    }
    .project-title-dark {
        font-size: 1.2rem;
    }

    .project-desc-trs-light {
        font-size: 0.9rem;
    }
    .project-desc-trs-dark {

        font-size: 0.9rem;
    }
    .project-desc-light {
        font-size: 0.9rem;
    }
    .project-desc-dark {
        font-size: 0.9rem;
        margin-bottom: 2rem;
    }

    .technologies-light-trs {
        font-size: 0.9rem;
    }
    .technologies-dark-trs {
        font-size: 0.9rem;
    }
    .technologies-light {
        font-size: 0.9rem;
    }
    .technologies-dark {
        font-size: 0.9rem;
    }
}