<div class="projects-container">
    <h2 id="ph-title" class="projects-title-light">Projects</h2>
    <div class="project-row">
        <div class="project-light" id="mealpository-project">
            <div class="img-container">
                <img class="img" src="../assets/img/projects/mealpository-project.png">
            </div>
            <div class="description">
                <div class="title-links">
                    <h1 id="p-title1" class="project-title-light">Mealpository</h1>
                    <div class="links">
                        <div class="link">
                            <a class="project-link">
                                <img id="link-img-elm1" class="link-img" src="../assets/img/light-icons/link-icon-light.png">
                            </a>
                            <a class="project-link-hover">
                                <img class="link-img" src="../assets/img/hover/link-icon-hover.png">
                            </a>
                        </div>
                        <div class="github">
                            <a class="github-link" href="https://github.com/Seanspoons/mealpository" target="_blank">
                                <img id="git-img-elm1" class="link-img" src="../assets/img/light-icons/github-icon-light.png">
                            </a>
                            <a class="github-link-hover" href="https://github.com/Seanspoons/mealpository" target="_blank">
                                <img class="link-img" src="../assets/img/hover/github-icon-hover.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tech1" class="technologies-light">
                    Angular, Azure, Django, MSSQL
                </div>
                <p id="desc1" class="project-desc-light">Mealpository is a recipe management and meal planning application that stores and displays recipes for you. It also automatically create meal plans, saving more time for cooking </p>
            </div>
        </div>
        <div class="project-light" id="typeaid-project">
            <div class="img-container">
                <img class="img" src="../assets/img/projects/typeaid-project.png">
            </div>
            <div class="description">
                <div class="title-links">
                    <h1 id="p-title2" class="project-title-light">TypeAid</h1>
                    <div class="links">
                        <div class="link">
                            <a class="project-link">
                                <img id="link-img-elm2" class="link-img" src="../assets/img/light-icons/link-icon-light.png">
                            </a>
                            <a class="project-link-hover">
                                <img class="link-img" src="../assets/img/hover/link-icon-hover.png">
                            </a>
                        </div>
                        <div class="github">
                             <a class="github-link" href="https://github.com/sfu-cmpt340/TypeAid" target="_blank">
                                <img id="git-img-elm2" class="link-img" src="../assets/img/light-icons/github-icon-light.png">
                            </a>
                            <a class="github-link-hover" href="https://github.com/sfu-cmpt340/TypeAid" target="_blank">
                                <img class="link-img" src="../assets/img/hover/github-icon-hover.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tech2" class="technologies-light">
                    Django, React
                </div>
                <p id="desc2" class="project-desc-light">An accessible keyboard aimed at users with motor disabilities. TypeAid is a light text editor powered by a machine learning model that predicts what a user is typing to reduce the number of keystrokes needed to type </p>
            </div>
        </div>
        <div class="project-light" id="n-puzzle-solver-project">
            <div class="img-container">
                <img class="img" src="../assets/img/projects/puzzle-solver-project.png">
            </div>
            <div class="description">
                <div class="title-links">
                    <h1 id="p-title3" class="project-title-light">N-Puzzle Solver</h1>
                    <div class="links">
                        <div class="link">
                            <a class="project-link">
                                <img id="link-img-elm3" class="link-img" src="../assets/img/light-icons/link-icon-light.png">
                            </a>
                            <a class="project-link-hover">
                                <img class="link-img" src="../assets/img/hover/link-icon-hover.png">
                            </a>
                        </div>
                        <div class="github">
                            <a class="github-link" href="https://github.com/Seanspoons/N-Puzzle-Solver" target="_blank">
                                <img id="git-img-elm3" class="link-img" src="../assets/img/light-icons/github-icon-light.png">
                            </a>
                            <a class="github-link-hover" href="https://github.com/Seanspoons/N-Puzzle-Solver" target="_blank">
                                <img class="link-img" src="../assets/img/hover/github-icon-hover.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tech3" class="technologies-light">
                    Java
                </div>
                <p id="desc3" class="project-desc-light">This solver is used to solve N-Puzzles up to 7x7 variants. It makes use of the standard and the greedy variants of the A* Algorithm with numerous heuristics to solve the puzzles</p>
            </div>
        </div>
    </div>

    <div class="project-row lower-row">
        <div class="project-light" id="yelp-project">
            <div class="img-container">
                <img class="img" src="../assets/img/projects/yelp-project.png">
            </div>
            <div class="description">
                <div class="title-links">
                    <h1 id="p-title4" class="project-title-light">Yelp Database</h1>
                    <div class="links">
                        <div class="link">
                            <a class="project-link">
                                <img id="link-img-elm4" class="link-img" src="../assets/img/light-icons/link-icon-light.png">
                            </a>
                            <a class="project-link-hover">
                                <img class="link-img" src="../assets/img/hover/link-icon-hover.png">
                            </a>
                        </div>
                        <div class="github">
                             <a class="github-link" href="https://github.com/Seanspoons/Yelp-Database-Application" target="_blank">
                                <img id="git-img-elm4" class="link-img" src="../assets/img/light-icons/github-icon-light.png">
                            </a>
                            <a class="github-link-hover" href="https://github.com/Seanspoons/Yelp-Database-Application" target="_blank">
                                <img class="link-img" src="../assets/img/hover/github-icon-hover.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tech4" class="technologies-light">
                    Java, MSSQL
                </div>
                <p id="desc4" class="project-desc-light">Utilizing a connection to an MS SQL database with data from Yelp. This application enables users to search for business and users as well as add reviews and friends in a clean UI</p>
            </div>
        </div>
        <div class="project-light" id="trs-project">
            <div class="img-container">
                <img class="img" src="../assets/img/projects/trs-project.png">
            </div>
            <div class="description">
                <div class="title-links">
                    <h1 id="p-title5" class="project-title-light">Reporting System</h1>
                    <div class="links">
                        <div class="link">
                            <a class="project-link">
                                <img id="link-img-elm5" class="link-img" src="../assets/img/light-icons/link-icon-light.png">
                            </a>
                            <a class="project-link-hover">
                                <img class="link-img" src="../assets/img/hover/link-icon-hover.png">
                            </a>
                        </div>
                        <div class="github">
                            <a class="github-link" href="https://github.com/Seanspoons/Threat-Reporting-System" target="_blank">
                                <img id="git-img-elm5" class="link-img" src="../assets/img/light-icons/github-icon-light.png">
                            </a>
                            <a class="github-link-hover" href="https://github.com/Seanspoons/Threat-Reporting-System" target="_blank">
                                <img class="link-img" src="../assets/img/hover/github-icon-hover.png">
                            </a>
                        </div>
                    </div>
                </div>
                <div id="tech5" class="technologies-light">
                    Angular, Leaflet, Hashify
                </div>
                <p id="desc5" class="project-desc-light">This application is for reporting threats in the Lower Mainland. It enables users to add reports, as well as editing and deleting reports with a valid password</p>
            </div>
        </div>
    </div>
</div>
