header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 90%;
    padding-left: 5vw;
    padding-right: 5vw;
    position: relative;
    z-index: 1000;
    position: fixed;
    top: 0;
    /*Make the header sticky*/
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mode-container-light:hover #dark-mode-icon-container {
    display: none;
}

.mode-container-light:hover #dark-mode-icon-container-hover {
    display: flex;
}

.mode-container-dark:hover #light-mode-icon-container {
    display: none;
}

.mode-container-dark:hover #light-mode-icon-container-hover {
    display: flex;
}

.mode-container-dark:hover {
    cursor: pointer;
}

.mode-container-light:hover {
    cursor: pointer;
}

.mode-container {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.mode-icon {
    width: 22px;
    height: 22px;
}

.mode-icon:hover {
    color: #919191;
}

#light-mode-icon-container {
    display: flex;
}

#light-mode-icon-container-hover {
    display: none;
}
.light-mode-button {
    color: white;
}

.light-mode-button:hover {
    color: #919191;
}

.dark-mode-button {
    color: black;
}

.light-mode-button:hover {
    color: #919191;
}

#dark-mode-icon-container {
    display: flex;
}

#dark-mode-icon-container-hover {
    display: none;
}



/* Light Mode */

.header-light {
    background-color: #F3F3F3;
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.25);
}

.name-text-light {
    display: inline-block;
    color: transparent;
    background: linear-gradient(180deg, #000 34.38%, rgba(0, 0, 0, 0.00) 100%);
    background-clip: text;
    font-weight: 700;
    font-size: 2rem;
}

.name-text-light:hover {
    display: inline-block;
    color: transparent;
    background: linear-gradient(180deg, #919191 34.38%, rgba(0, 0, 0, 0) 100%);
    background-clip: text;
    cursor: pointer;
}

.projects-light {
    color: black;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.projects-light:hover {
    color: #919191;
    cursor: pointer;
}

.projects-light:active {
    color: black;
}

.education-light {
    color: black;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.education-light:hover {
    color: #919191;
    cursor: pointer;
}

.education-light:active {
    color: black;
}

.mode-container-light {
    width: 2rem;
    height: 2rem;
}


/* Dark Mode */

.header-dark { 
    background-color: #222222;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.name-text-dark {
    display: inline-block;
    color: transparent;
    background: linear-gradient(180deg, #FFF 51.04%, rgba(0, 0, 0, 0.00) 99.99%, rgba(0, 0, 0, 0.00) 100%);
    background-clip: text;
    font-weight: 700;
    font-size: 2rem;
}

.name-text-dark:hover {
    display: inline-block;
    color: transparent;
    background: linear-gradient(180deg, #919191 34.38%, rgba(0, 0, 0, 0) 100%);
    background-clip: text;
    cursor: pointer;
}

.projects-dark {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.projects-dark:hover {
    color: #919191;
    cursor: pointer;
}

.projects-dark:active {
    color: white;
}

.education-dark {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.education-dark:hover {
    color: #919191;
    cursor: pointer;

}

.education-dark:active {
    color: white;

}

@media only screen and (min-width: 531px) {

    .name-text-light {
        font-size: 1.5rem;
    }
    .name-text-dark {
        font-size: 1.5rem;
    }

    .projects-light {
        font-size: 1.3rem;
    }
    .projects-dark {
        font-size: 1.3rem;
    }

    .education-light {
        font-size: 1.3rem;
    }
    .education-dark {
        font-size: 1.3rem;
    }

    .mode-container-light {
        height: 1.5rem;
        width: 1.5rem;
    }
    .mode-container {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    
    .mode-icon {
        width: 24px;
        height: 24px;
    }

}

@media only screen and (max-width: 530px) {

    .name-text-light {
        font-size: 1.5rem;
    }
    .name-text-dark {
        font-size: 1.5rem;
    }

    .projects-light {
        font-size: 1.3rem;
    }
    .projects-dark {
        font-size: 1.3rem;
    }

    .education-light {
        font-size: 1.3rem;
    }
    .education-dark {
        font-size: 1.3rem;
    }

    .mode-container-light {
        height: 1.5rem;
        width: 1.5rem;
    }

    .mode-container {
        width: 24x;
        height: 24px;
        cursor: pointer;
    }
    
    .mode-icon {
        width: 24px;
        height: 24px;
    }

}

@media only screen and (max-width: 310px) {

    .name-text-light {
        font-size: 1.4rem;
    }
    .name-text-dark {
        font-size: 1.4rem;
    }

    .projects-light {
        font-size: 1.2rem;
    }
    .projects-dark {
        font-size: 1.2rem;
    }

    .education-light {
        font-size: 1.2rem;
    }
    .education-dark {
        font-size: 1.2rem;
    }

    .mode-container-light {
        height: 1.4rem;
        width: 1.4rem;
    }
    .mode-container-dark {
        height: 1.4rem;
        width: 1.4rem;
    }
    .mode-icon {
        height: 1.4rem;
        width: 1.4rem;
    }

}