<header id="header" class="header-light">
    <div class="name">
        <div class="name-holder">
            <h1 id="name-text" class="name-text-light" (click)="onNameClick()">Sean Wotherspoon</h1>
        </div>
    </div>
    <div class="links">
        <a id="projects-link" class="projects-light" (click)="scrollToProjects()">Projects</a>
        <a id="education-link" class="education-light" (click)="scrollToEducation()">Education</a>
        <div id="mode-container" class="mode-container-light" (click)="onModeClick(!lightMode)" *ngIf="lightMode; else darkMode">
            <div id="dark-mode-icon-container">
                <img class="mode-icon" src="../assets/img/light-icons/dark-mode-icon.png">
            </div>
            <div id="dark-mode-icon-container-hover">
                <img class="mode-icon" src="../assets/img/hover/dark-mode-icon-hover.png">
            </div>
        </div>
        <ng-template #darkMode>
            <div class="mode-container-dark" (click)="onModeClick(!lightMode)">
                <div id="light-mode-icon-container">
                    <img class="mode-icon" src="../assets/img/dark-icons/light-mode-icon.png">
                </div>
                <div id="light-mode-icon-container-hover">
                    <img class="mode-icon" src="../assets/img/hover/light-mode-icon-hover.png">
                </div>
            </div>
        </ng-template>
    </div>
</header>