header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 90%;
    padding-left: 5vw;
    padding-right: 5vw;
    /*Make the header sticky*/
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mode-container-light {
    width: 2rem;
    height: 2rem;
}

.mode-container-light:hover #dark-mode-icon-container {
    display: none;
}

.mode-container-light:hover #dark-mode-icon-container-hover {
    display: flex;
}

.mode-container-dark:hover #light-mode-icon-container {
    display: none;
}

.mode-container-dark:hover #light-mode-icon-container-hover {
    display: flex;
}

.mode-container-dark {
    width: 2rem;
    height: 2rem;
}

.mode-container-dark:hover {
    cursor: pointer;
}

.mode-container-light:hover {
    cursor: pointer;
}

.mode-icon {
    width: 2rem;
    height: 2rem;
}

#light-mode-icon-container {
    display: flex;
}

#light-mode-icon-container-hover {
    display: none;
}

#dark-mode-icon-container {
    display: flex;
}

#dark-mode-icon-container-hover {
    display: none;
}



/* Light Mode */

.header-light {
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.name-text-light {
    display: inline-block;
    color: transparent;
    background: linear-gradient(180deg, #000 34.38%, rgba(0, 0, 0, 0.00) 100%);
    background-clip: text;
    font-weight: 700;
    font-size: 2rem;
}

.projects-light {
    color: black;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.projects-light:hover {
    color: #919191;
    cursor: pointer;
}

.education-light {
    color: black;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.education-light:hover {
    color: #919191;
    cursor: pointer;
}

.mode-container-light {
    width: 2rem;
    height: 2rem;
}

/* Dark Mode */

.header-dark { 
    background-color: #222222;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.name-text-dark {
    display: inline-block;
    color: transparent;
    background: linear-gradient(180deg, #FFF 51.04%, rgba(0, 0, 0, 0.00) 99.99%, rgba(0, 0, 0, 0.00) 100%);
    background-clip: text;
    font-weight: 700;
    font-size: 2rem;
}

.projects-dark {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.projects-dark:hover {
    color: #919191;
}

.education-dark {
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
}

.education-dark:hover {
    color: #919191

}