<div id="info-container" class="info-container">
    <h2 class="intro-text">Hi, I'm</h2>
    <h1 class="name-text">Sean Wotherspoon</h1>
    <div class="profile-picture-container">
        <img id="profile-picture-light" src="../assets/img/profile-picture.png">
    </div>
    <div class="contacts">
        <button class="contact-button" id="resume" (click)="onResumeClick()">Resume</button>
        <button class="contact-button" id="github" (click)="onGitHubClick()">Github</button>
        <button class="contact-button" id="linkedin" (click)="onLinkedInClick()">LinkedIn</button>
        <button class="contact-button" id="email" (click)="onEmailClick()">Email</button>
    </div>
</div>
