<div id="info-container" class="info-container">
    <h2 id="intro-text" class="intro-text-light">Hi, I'm</h2>
    <div id="light-name">
        <h1 class="name-text-light">Sean Wotherspoon</h1>
    </div>
    <div id="dark-name">
        <h1 class="name-text-dark">Sean Wotherspoon</h1>
    </div>
    <div id="profile-picture-container" class="profile-picture-container-light">
        <img id="profile-picture" src="../assets/img/profile-picture.png">
    </div>
    <div class="contacts">
        <button class="contact-button-light" id="resume" (click)="onResumeClick()">Resume</button>
        <button class="contact-button-light" id="github" (click)="onGitHubClick()">Github</button>
        <button class="contact-button-light" id="linkedin" (click)="onLinkedInClick()">LinkedIn</button>
        <button class="contact-button-light" id="email" (click)="onEmailClick()">Email</button>
    </div>
</div>
