<div class="education-container">
    <h2 id="education-title" class="education-title-light">Education</h2>
    <div class="education-row">
        <div class="school-light" id="school-box">
            <div class="img-container">
                <img class="img" src="../assets/img/education/sfu2.png">
            </div>
            <div class="description">
                <div class="title-date">
                    <h1 id="s-title" class="school-title-light">Simon Fraser University</h1>
                    <h1 id="d-title" class="date-light">September 2021 - Present</h1> 
                </div>
                <p id="location" class="location-light">Burnaby, BC</p>
                <p id="degree" class="degree-light">BSc in Computer Science</p>
            </div>
        </div>
    </div>
</div>
